doctype html
html(lang="en")
  head
    title= pageTitle ? pageTitle : "Voting App"
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='/javascript/test.js')
body
  h1= title ? title : "Voting App"
  nav(class="")
    a(href='/polls') Polls
    if !authStatus
      a(href='/login') Login
      a(href='/register') Register
    else
      a(href='/logout') Logout
  div#container
    hr
    block content
