extends layout

block content
  if authStatus
    a(href='polls/create') Create Poll
  if userPolls.length > 0
    h3 My polls
    ul
      each poll in userPolls
        a(href="/poll/"+ poll._id)
          li= poll.pollName + "(Total Count:" + poll.pollAggregateCount + ")"
  h2 All Polls
  if listOfPolls.length > 0
    ul
      each val in listOfPolls
        a(href="/poll/"+ val._id)
          li= val.pollName
  else
    p No Polls Available
